/*CSS de tarjetas*/
.main{
    display: flex;
    flex-wrap: wrap; 
    margin: 10px auto 50px;
     align-items: center;
}
h1{
    text-align: center;
}
#box-container {
    display: flex;
    height: 500px;

  }
  .section1
  {
    background-color: rgb(63,94,251,0.5);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    flex-grow: 1;
    height: auto;
    box-sizing: content-box; 
  }
  .section2
  {
    background-color: rgb(63,94,251,0.5);
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px;

  }

  #box-1 {
  background-color: rgb(63,94,251,0.5);
  padding: 0 10px 10px 10px;
  border-radius: 8px;
  flex-grow: 1;
  height: auto;
  box-sizing: content-box;
  }

  #box-2 {
    background-color: rgb(63,94,251,0.5);
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px;

  }
.estadisticas{
    /*Texto como puntajes, movimientos*/
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
.home {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 3px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
   }
   
   .home:hover, .home:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    border-bottom: 1px solid #2ecc71;
   }

   .Fichas{
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
  }
  .box {
    width: 10%;
    height: 10rem;
    border: 3px solid #333;
    border-radius: 0.5rem;
    margin: 1.25rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    user-select: none;
    cursor: move;
    transition: 0.5s;
    /*
    width: 10%;
    height: 10rem;
    border: 3px solid #333;
    border-radius: 0.5rem;
    margin: 1.25rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    user-select: none;
    cursor: move;
    transition: 0.5s;*/
  }
  .gameBtn{
    align-items: center;
    display: flex;
    position: relative;
    height: auto;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 3px;
    font-size: 30px;
    color: #FFF;
    text-decoration: none;
    background-color: #f19924;
    border: none;
    border-bottom: 5px solid #c0791b;
    text-shadow: 0px -2px #c0791b;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  
  .gameBtn:hover, .gameBtn:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    border-bottom: 1px solid #2ecc71;
   }

   .ord_suma{
    /*background: rgb(63,94,251);*/
    background-image: url("../assets/img/BG/BGBlue.png");
    /*,linear-gradient(rgba(137, 170, 19, 0.2))*/
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     
     background-size: cover;
     /*background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);*/
     font-family: sans-serif;
     color: white
  }
  .ord_resta{
    /*background: rgb(63,94,251);*/
    background-image: url("../assets/img/BG/BGGreen.png");
    /*,linear-gradient(rgba(137, 170, 19, 0.2))*/
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     
     background-size: cover;
     /*background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);*/
     font-family: sans-serif;
     color: white
  }
  .ord_multiplicacion{
    /*background: rgb(63,94,251);*/
    background-image: url("../assets/img/BG/BGYellow.png");
    /*,linear-gradient(rgba(137, 170, 19, 0.2))*/
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     
     background-size: cover;
     /*background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);*/
     font-family: sans-serif;
     color: white
  }
  .ord_divicion{
    /*background: rgb(63,94,251);*/
    background-image: url("../assets/img/BG/BGRed.png");
    /*,linear-gradient(rgba(137, 170, 19, 0.2))*/
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     
     background-size: cover;
     /*background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);*/
     font-family: sans-serif;
     color: white
  }
   /*Footer*/
  footer {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background:  rgb(63,94,251,0.5);
  }
  footer .copyright {
    margin-bottom: 0.3rem;
  }
  footer .credits {
    margin-bottom: 0;
  }
  footer .credits a {
    color: #fff;
  }

  /*Cuendo la pantalla alcance un tamaño minimo de 800px, reajusta el tamaño de las fichas*/
  @media (max-width: 800px) {
    html { 
      font-size: 14px; 
    }
    .box {
      width: 5rem; 
      height: 5rem; 
      font-size: 2.5rem;
      margin: 0.5rem;
    }
    .Fichas
    {
      flex-direction: column;
    }
  }
  /*Cuendo la pantalla alcance un tamaño minimo de 800px, reajusta el tamaño de las fichas y las ordena verticcalmente*/
  @media (max-width: 1000px) {
    .box {
      font-size: 2.5rem;
    }
  }

   
  /* Drag and Drop Related Styling */
  
  .drag-start {
    opacity: 0.4;
  }
  .drag-enter {
    border-style: dashed;
  }
  .box:nth-child(odd).drag-enter {
    transform: scale(0.75);
    transform: rotate(15deg);
  }
  .box:nth-child(even).drag-enter {
    transform: scale(0.75);
    transform: rotate(-15deg);
  }
  .box:nth-child(odd).drag-start {
    transform: scale(0.75);
    transform: rotate(15deg) scale(0.75);
  }
  .box:nth-child(even).drag-start {
    transform: scale(0.75);
    transform: rotate(-15deg) scale(0.75);
  }